:root {
  /* screen size*/
  --mobile-screen-size: 375px;
  --desktop-screen-size: 1440px;
  /* color */
  --primary-soft-blue: hsl(215, 51%, 70%);
  --primary-cyan: hsl(178, 100%, 50%);
  --main-bg-color: hsl(217, 54%, 11%);
  --card-bg-color: hsl(216, 50%, 16%);
  --line-color: hsl(215, 32%, 27%);
  --white-color: hsl(0, 0%, 100%);
}

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-shadow: none;
}

body {
  background-color: var(--main-bg-color);
  color: var(--primary-soft-blue);
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}
.attribution {
  position: absolute;
  bottom: 0;
}
.primary-text {
  color: var(--primary-cyan);
}
.card {
  background-color: var(--card-bg-color);
  width: 230px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}